dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*.dvi
*.aux
*.log
*.pdf
*.ps
*.txt
*.tex
*.x
*.y
*.tar
*.gz
Lab1/TestpltCPP*
Lab1/lab1-testsuite-larger/lab1-test-dir/*
Lab1/lab1-testsuite-larger/runtests

# temporarily disable Haskell source files
Lab1/*.hs/

*.class
*.j