dist
cabal-dev
*.o
*.hi
*.hs#
*.chi
*.chs.h
.virthualenv
*.dvi
*.aux
*.log
*.pdf
*.ps
*.txt
*.tex
*.x
*.y
*.tar
*.gz
*.bak
*.info
Lab1/TestpltCPP*
Lab1/lab1-testsuite-larger/lab1-test-dir/*
Lab1/lab1-testsuite-larger/runtests
lab2
lab3
#lab4
.sh~

# temporarily disable Haskell source files
Lab1/*.hs

*.class
*.j

# Disable Haskell files in Lab3, since they're just copies
Lab3/*.hs